@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Rest CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* To avoid unnecessary margin and padding provide by bootstrap */
.container-fluid,
.col-12,
.row {
  padding: 0 !important;
  margin: 0 !important;
}


/* Main CSS */

body {
  font-family: "Roboto", "Inter", monospace;
  font-size: 10px;
  color: #000;
  background-color: #fff;
  letter-spacing: 0.1em;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
  margin: 0;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4,
h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

.page {
  max-width: 550px;
  position: relative;
}

img {
  max-width: 100%;
}

.logo {
  object-fit: cover;
}

.hero-section,
.leaderboard-section,
.podium-section,
.tnc-section
{
  margin-bottom: 20px;
}

#leaderboard-header {
  margin: 10px auto;
}

.leaderboard-table {
  width: 90%;
  border: 1px solid rgba(155, 147, 147, 0.479);
  font-weight: 500;
  caption-side: top;
  border-collapse: separate;
  border-radius: 10px;
  border-spacing: 0;
  overflow-x: auto;
}

.leaderboard-table caption {
  color: white;
  caption-side: top;
  text-align: right;
  font-size: 0.5rem;
}

.leaderboard-table caption .label {
  display: flex;
  align-items: center;
  justify-content: end;
}

.leaderboard-table caption .winners-highlight-color {
  height: 0.5rem;
  width: 0.5rem;
  display: inline-block;
  outline: 0.5px solid white;
}

.leaderboard-table thead {
  background: #6D6DAE;
}

.leaderboard-table tbody {
  background: #6d6dae96;
}

.leaderboard-table td,
.leaderboard-table th {
  padding: 0.7rem !important;
  border: none !important;
  box-shadow: none !important;
}

.leaderboard-table tr td,
.leaderboard-table tr th {
  border-bottom: 1px solid rgba(155, 147, 147, 0.479) !important;
}

.leaderboard-table tbody tr:last-child td {
  border-bottom: none !important;
}

.leaderboard-table thead th:first-child {
  border-top-left-radius: 10px;
}
.leaderboard-table thead th:last-child {
  border-top-right-radius: 10px;
}

.leaderboard-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
.leaderboard-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

thead,
tbody,
th,
tr,
td {
  padding: 0.7rem;
}


.winner-indicator-msg {
  font-weight: 300;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

thead,
td {
  white-space: normal;
}

th:nth-child(4),
td:nth-child(4) {
  text-align: right;
}

.main {
  margin-top: -1px;
  margin-bottom: 50px;
}

.tnc-header {
  cursor: pointer;
}

ol {
  width: 95%;
  margin: 0 auto;
  font-weight: 200;
  letter-spacing: 2px;
}

ol {
  font-variant-numeric: tabular-nums;
}

li {
  padding: 5px 5px;
}

li::marker {
  font-variant-numeric: tabular-nums;
}


.tnc-container {
  width: 90%;
  margin: 0 auto;
}


.tnc-container h6{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: #6D6DAE;
  border: 1px solid rgba(155, 147, 147, 0.479);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.tnc-div {
  height: 15rem;
  overflow-y: auto;
  background: #6d6dae96;
  border: 1px solid rgba(155, 147, 147, 0.479);
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tnc-div::-webkit-scrollbar {
  width: 8px;
}
.tnc-div::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.tnc-div::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

/* Media Queries */

@media (max-width: 355px) {
  body {
    font-size: 8px;
  }
}

@media (min-width: 500px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  img {
    max-width: 550px;
  }
}
